node_modules
/node_modules
# Keep environment variables out of version control
.env
/local_photos
/generated/prisma
/uploads
insert_users2.sql
generated

/generated

# Excel files
*.xlsx
*.xls
*.csv
/data

# Script files
loadData*
fixmissingstudents*
clearDatabase*

clearDatabase*
fixMissingStudents*
loadData*

Estudiantes Nuevos_2025_2*